@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');



body {
    font-family: 'Lato', sans-serif, Tahoma, Sans-Serif;
    color: #444444;
    font-size: 11pt;
    background-color: #eeeeee;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0px;
    margin-right: 0px;
    /* width: 100vw;    */
    overflow-x: hidden;
    font-weight: 300;
}

b {
    font-weight: 400;
}

h1 {
    /* text-transform: uppercase; */
    font-weight: 300
    /* font-family: 'Unica One', cursive, Tahoma, Sans-Serif;;  */
}


h5 {
    text-transform: uppercase;
    font-family: 'Unica One', cursive;
}

br + h5 {
    color: #3E5C76;
}

.section-head {
    margin: 0px 0px;
}

hr {
    padding: 0px 0px;
    margin: 0px 0px;
    /* width: 2px; */
}

div.text-center {
    padding: 0;
    /* width: 100vw; */
}

@media (min-width: 10px) {
    .px-lg-8 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
@media (min-width: 576px) {
    .px-lg-8 {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}
@media (min-width: 768px) {
    
    .px-lg-8 {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}
@media (min-width: 1100px) {
    .px-lg-7 {
        padding-left: 8rem !important;
        padding-right: 8rem !important;
    }
    
    .px-lg-8 {
        padding-left: 17vw !important;
        padding-right: 17vw !important;
    }
}

/* NAVBAR */

.navbar {
    position: relative;
    /* height: 90px; */
    /* width: 100vw; */
    -webkit-box-shadow: 0px -2px 6px 0px rgba(0,0,0,.25);
    -moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,.25);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,.25);
    z-index: 5;
}

.logo {
    height: 65px;
    vertical-align: middle;
    filter: drop-shadow(0px 0px 2px rgba(197, 197, 197, 0.808));
    padding: 0px 10px;
}

.logo:hover {
    filter: drop-shadow(0px 0px 5px rgba(197, 197, 197, 0.808));
    transition: filter 0.3s ease-out
}

.nav-text {
    display: inline;
    position: absolute;
    top: 29px;
    font-family: 'Unica One', cursive, 'Tahoma', sans-serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0px 0px 2px rgba(197, 197, 197, 0.808));

}

.nav-text:hover {
    filter: drop-shadow(0px 0px 7px rgba(197, 197, 197, 0.808));
    transition: filter 0.3s ease-out
}

.nav-link {
    color: rgba(255, 255, 255, 0.61) !important;
    font-weight: bold;
}

.nav-link.active {
    color: rgba(255, 255, 255, 0.9) !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    transition: color 0.2s ease-out;
}

.navbar-toggler {
    border-color: rgba(0,0,0,0) !important;
}


@media screen and (max-width: 768px) {
    .nav-text {
      font-size: 18px;
      top: 33px;
      transition: font-size 0.5s;
    }
    .logo {
        height: 65px;
        vertical-align: bottom;
    }

    .align-items-center {
        padding-left: 5vw;
        /* margin-left: auto; */
    }

    .carousel-caption {
        visibility: hidden;
    }
  }

.bg-light {
    background-color: #1D2D44 !important;

}

/* .navbar-toggler {
    color: #ffffff !important;
} */
/* .front-desc {
    
} */

.d-block {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* .w-100 {
    width: 100vw !important;
    margin: 0;
} */

.triplet {
    max-height: 220px;
    /* -webkit-box-shadow: 0 -5px 10px -3px rgba(0, 0, 0, 0.411);
    -moz-box-shadow: 0 -5px 10px -3px rgba(0, 0, 0, 0.411); */
    filter: drop-shadow(0px 0px 2px rgba(197, 197, 197, 0.808));
}

footer {
    background-color: #1D2D44;
    color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px -2px 6px 0px rgba(0,0,0,.25);
    -moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,.25);
    box-shadow: 0px -2px 6px 0px rgba(0,0,0,.25);
    /* overflow-x: hidden; */
    width: 100%;
    margin: 0px !important;
}

.social-container {
    position: relative;
    height: 70px;
}

.social {
    /* margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    height: 30px;
    text-align: center !important;
    margin: 0px;
}

i.fas {
    font-size: 18pt;
    padding-right: 5pt;
}

a {
    color: #748CAB
}

a[href^="https"] {
    color: rgba(255, 255, 255, 0.6) !important;


}

a[href^="https"]:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    text-decoration: none !important;

}

.social-icon {
    font-size: 18pt;
    padding-right: 5pt;
    text-decoration: none !important;
    transition: color 0.2s ease-out;

}


.btn-primary {
    background-color: #748CAB !important;
    border-color: rgb(100, 121, 150);
}

.btn-primary:hover {
    background-color: rgb(96, 115, 139) !important;
    border-color: rgb(100, 121, 148);
}

.btn-primary:active {
    background-color: rgb(75, 98, 117) !important;
    border-color: rgb(100, 121, 148);
}

.btn:focus {
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
    box-shadow: none !important;
}

.calendar {
    min-width: 600px;
    /* display: block; */
    /* overflow-x: scroll; */
}

/* calendar hacks
.mv-daynames-table {
    color: #444444 !important;
}

.view-cap, .view-container-border {
    background-color: #000;
} */

/* CARDS */
.card-container {
    border: none;
    padding: 0px,0px,0px,0px; 

    /* margin: 0px 10px 0px 0px; */
    background-clip: content-box;
    display: inline;
}

.card {
    background-color: #dddddd;
    border: none;
    padding: 2.4rem 1rem 2rem 1rem;
    border-radius: 0;
    margin: none;
    /* opacity: 1; */
    /* transition: background-position 1s ease-out;
    background-image: url("../public/cg-freshman.jpg");  */
    /* background-size: cover; */

    background-position: center;
    background-size: cover;

}



.card:hover {
    box-shadow:inset 0px 0px 0px 5px #eee;
    transition: box-shadow 200ms ease-out;
}

/* .card.freshman-cg:hover {
    background-image: url("../public/cg-freshman.jpg"); 

}

.card.seeker-cg:hover {
    background-image: url("../public/cg-seeker.jpg"); 

}

.card.wednesday-cg:hover {
    background-image: url("../public/cg-freshman.jpg"); 

}

.card.thursday-cg:hover {
    background-image: url("../public/cg-freshman.jpg"); 

} */



.gi-img {
    width: 100%;
}

.v-img {
    width: 100%;
    /* padding: */
}

/* ABOUT US */

.vision-statement {
    font-size: 28px;
    color: #3E5C76;
}

.team {
    background-color: #dddddd;
    border: none;
    padding: 1.2rem;
    border-radius: 0;
    margin: none;
    /* min-height: 275px; */
    /* opacity: 1; */
    /* transition: background-position 1s ease-out;
    background-image: url("../public/cg-freshman.jpg");  */
    /* background-size: cover; */
    height: 100%;

}

.team-name {
    color: #444444;
}

.team-content {
    height: inherit;
}

.team-content:after {
    height: 100%;
    /* transition: height 500ms ease-out; */

}

.team-content:hover:after {
    white-space: pre;
}

.team-content.vision-team:after {
    content: "Vision Team is responsible for discerning big-picture vision for the fellowship and overseeing the implementation of vision through the various ministries and spaces of ACF. Vision members are the eyes of the chapter. By what we see, we direct other parts of the ministry to serve and lead.";
}

.team-content.vision-team:hover:after {
    content: "Greg Hsu, Part-Time Staff \A Austin Wang, President \A Brian Park, Treasurer \A Grace Lam, UCO Representative"
}

.team-content.cg-team:after {
    content: "The primary vision for the team is to glorify and magnify God through scripture-based music, and by the power of the Holy Spirit encourage growth in the spiritual walk of our community.  In worship, we lead the rest of the fellowship in the celebration, of His hope, joy, and peace.";
}

.team-content.cg-team:hover:after {
    content: "Luke Shimanuki (lead) \A Chris Wang \A Daniel Stein \A Erica Weng \A Shirley Cao \A William Luo"
}

.team-content.lg-team:after {
    content: "The vision of large groups in ACF is to for the entire fellowship to regularly gather as a Christ-centered community, in order to grow as and into a part of the body of Christ through which we can share and experience God’s transformative love together.";
}

.team-content.lg-team:hover:after {
    content: "Austin Wang (lead) \A Annie Zhang (assistant lead) \A Lena Zhu \A Madi Wong";
}

.team-content.outreach-team:after {
    content: "The purpose of outreach team is to share God’s relentless love in our lives with students on campus, personally invite them to our community, guide seekers and new Christians in their exploration of faith, and cultivate a passion in and equip ACF to reach out to and share the gospel with the MIT and Boston community.";
}

.team-content.outreach-team:hover:after {
    content: "Grace Lam (lead) \A Abraham Skandera (assistant lead) \A Cindy Wang \A Doreen Chin";
}

.team-content.f-gang:after {
    content: "The main vision of our team can be summarized into three words: building internal relationships. We believe that the ultimate goal of the team is to go beyond aiding in the creation of meaningful relationships — we’re called to create life-giving relationships that are centered around Christ.";
}

.team-content.f-gang:hover:after {
    content: "Brian Park (lead) \A Kathryn Jin (assistant lead) \A Chris Cheung \A Jacqueline Liao \A Sally Liu \A Soomin Chun";
}

.team-content.worship-team:after {
    content: "The primary vision for the team is to glorify and magnify God through scripture-based music, and by the power of the Holy Spirit encourage growth in the spiritual walk of our community.  In worship, we lead the rest of the fellowship in the celebration, of His hope, joy, and peace.";
}

.team-content.worship-team:hover:after {
    content: "Brian Park (co-lead) \A Wendy Bae (co-lead) \A Austin Wang (co-lead) \A Chris Cheung \A Cindy Wang \A Doreen Chin \A Madi Wong";
}

.social-media {
    font-size: 36pt;
}

.sm-link {
    color: #444444;
}

.sm-icon {
    transition: color 200ms ease-out;
}

.sm-facebook-icon:hover {
    color: rgba(60,90,153);
    text-decoration: none;
    
}

.sm-instagram-icon:hover {
    color: rgba(193,53,132);
}

.fa-external-link-alt {
    font-size: 10pt !important;
    color: #aaa;
    position: relative;
    bottom: 2px;
}

/* .sm-facebook-text:hover {} */